version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      day: 'saturday'
      interval: 'monthly'
      time: '02:00'
      timezone: 'Europe/Berlin'
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      day: 'saturday'
      interval: 'monthly'
      time: '02:00'
    pull-request-branch-name:
      separator: '-'
    target-branch: main
    commit-message:
      prefix: chore
      include: scope
    labels:
      - "type: chore \U0001F9F9"
    open-pull-requests-limit: 99
    ignore:
      - dependency-name: 'husky'
        versions:
          - '>= 5'
